{% extends 'app/base.html' %} {% load static %} {% block home-content %}

<h2>Enter Patient Data</h2>
<form method="POST" action="{% url 'predict_result' %}">
  {% csrf_token %}
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" /><br /><br />
  </div>
  <div>
    <label for="disease">Disease:</label>
    <input type="number" id="disease" name="Disease" /><br /><br />
  </div>
  <div>
    <label for="fever">Fever:</label>
    <input type="number" id="fever" name="Fever" /><br /><br />
  </div>
  <div>
    <label for="cough">Cough:</label>
    <input type="number" id="cough" name="Cough" /><br /><br />
  </div>
  <div>
    <label for="fatigue">Fatigue:</label>
    <input type="number" id="fatigue" name="Fatigue" /><br /><br />
  </div>
  <div>
    <label for="difficulty_breathing">Difficulty Breathing:</label>
    <input
      type="number"
      id="difficulty_breathing"
      name="DifficultyBreathing"
    /><br /><br />
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" name="Age" /><br /><br />
  </div>
  <div>
    <label for="gender">Gender:</label>
    <input type="number" id="gender" name="Gender" /><br /><br />
  </div>
  <div>
    <label for="blood_pressure">Blood Pressure:</label>
    <input type="number" id="blood_pressure" name="BloodPressure" /><br /><br />
  </div>
  <div>
    <label for="cholesterol_level">Cholesterol Level:</label>
    <input
      type="number"
      id="cholesterol_level"
      name="CholesterolLevel"
    /><br /><br />
  </div>
  <input type="submit" value="Submit" />
</form>

{% endblock home-content %}
