{% extends 'app/base.html' %} {% load static %} {% block home-content %}
<style>
  .container {
    background-color: #f8f9fa;
    border-radius: 20px;
  }
</style>
<div class="container mt-3">
  <div class="row">
    <div class="col-12 title text-center py-3">
      <h2>Enter Patient Data</h2>
    </div>

    <form method="POST" action="{% url 'predict_result' %}" class="col-12">
      {% csrf_token %}
      <div class="row px-4">
        <div class="col-6">
          <label for="name">Name:</label>
          <input type="text" id="name" name="Name" class="form-control" />
        </div>
        <div class="col-6">
          <label for="disease">Disease:</label>
          <input class="form-control" type="text" id="disease" name="Disease" />
        </div>
        <div class="col-6 mt-3">
          <label for="fever">Fever:</label>
          <select class="form-control" id="fever" name="Fever">
            <option selected disabled value="">Choose...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="cough">Cough:</label>
          <select class="form-control" id="cough" name="Cough">
            <option selected disabled value="">Choose...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="fatigue">Fatigue:</label>
          <select class="form-control" id="fatigue" name="Fatigue">
            <option selected disabled value="">Choose...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="difficulty_breathing">Difficulty Breathing:</label>
          <select
            class="form-control"
            id="difficulty_breathing"
            name="DifficultyBreathing"
          >
            <option selected disabled value="">Choose...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="age">Age:</label>
          <input class="form-control" type="number" id="age" name="Age" />
        </div>
        <div class="col-6 mt-3">
          <label for="gender">Gender:</label>
          <select class="form-control" id="gender" name="Gender">
            <option selected disabled value="">Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="blood_pressure">Blood Pressure:</label>
          <select class="form-control" id="blood_pressure" name="BloodPressure">
            <option selected disabled value="">Choose...</option>
            <option value="Low">Low</option>
            <option value="Normal">Normal</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="cholesterol_level">Cholesterol Level:</label>
          <select
            class="form-control"
            id="cholesterol_level"
            name="CholesterolLevel"
          >
            <option selected disabled value="">Choose...</option>
            <option value="Low">Low</option>
            <option value="Normal">Normal</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="col-12 text-center py-3">
          <input
            type="submit"
            value="Submit"
            class="btn btn-outline-secondary"
          />
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock home-content %}
